@import "@fontsource/montserrat/400.css";
@import "@fontsource/montserrat/500.css";
@import "@fontsource/montserrat/600.css";
@import "@fontsource/montserrat/700.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: "Montserrat", sans-serif;
  /* font-family: Inter, Avenir, Helvetica, Arial, sans-serif; */
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

/* a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
} */

body {
  margin: 0;
  /* display: flex;
  place-items: center; */
  /* min-width: 320px; */
  min-height: 100vh;
}

#root {
  margin: 0 auto;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* h1 {
  font-size: 3.2em;
  line-height: 1.1;
} */

@layer base {
  hr {
    border: none;
    height: 1px;
    margin: 0;
    flex-shrink: 0;
    background-color: rgba(0, 0, 0, 0.12);
    margin-bottom: 8px !important;
    margin-top: 8px !important;
  }
  h1 {
    @apply font-bold text-lg sm:text-xl md:text-2xl lg:text-3xl;
  }
  h2 {
    @apply font-semibold text-base sm:text-lg md:text-xl lg:text-2xl;
  }
  h3 {
    @apply font-medium text-base sm:text-lg md:text-xl lg:text-2xl;
  }
  h4 {
    @apply font-normal text-base sm:text-lg md:text-xl lg:text-2xl;
  }
  h5 {
    @apply font-medium text-sm sm:text-base md:text-lg lg:text-xl;
  }
  h6 {
    @apply font-normal text-sm sm:text-base md:text-lg lg:text-xl;
  }
  p {
    @apply font-normal text-xs sm:text-sm md:text-base lg:text-lg;
  }
}
