body {
  margin: 0px;
  background-color: #282c34;
}

* {
  text-transform: none;
  text-decoration: none;
}

.MuiDivider-root {
  margin-top: 8px !important;
  margin-bottom: 8px !important;
}

.mainContainer {
  padding-top: 24px;
  padding-bottom: 24px;
  section {
    padding: 15px;
    border-radius: 10px;
    background-color: white;
  }
}

.profileImage {
  padding: 35px;
  padding-bottom: 15px;
  img {
    width: 100%;
    margin: 0 auto;
    border-radius: 20px;
  }
}

.profileInfo {
  padding-left: 15px;
  padding-right: 15px;
  padding-bottom: 10px;
}

.profileContent {
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 10px;
}

#mainContent {
  padding-top: 5px;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 10px;
}

.sectionItem {
  margin-bottom: 4px;
}

#selectLang {
  padding-top: 10px;
}

@media print {
  #selectLang {
    display: none !important;
  }
}
